* {
	padding: 0;
	margin: 0;
}

body, div, button{
	box-sizing: border-box;
}

.clearfix:after {
	content:'';
	display: table;
	width: 100%;
	clear: both;
}
body {
	font-family: Times New Roman, serif;
	font-size: 14px;
}

h2, p, a{
	color: #626262;
}

h2 {
	font-size: 30px;
	margin-bottom: 40px;
}

nav {
	width: 900px;
	margin: 0px auto;
}
article {
	width: 420px;
	float: left;
	margin-right: 60px;
	margin-top: 100px;
}
article:nth-child(2n) {
	margin-right: 0px;
}

.main-menu {
	width: 730px;
	display: block;
	margin: 0px auto;
	padding-top: 70px;
	list-style: none;
	text-transform: uppercase;
	color: #626262;
}

a { 
	text-decoration: none;
}

a:hover {
	color: #57C6F8;
}

.container {
	width: 900px;
	margin: 0px auto;
}
li {
	margin: 0px 60px;
	float: left;
}
li:last-child {
	margin-right: 0px;
}

.item-img {

	/* border: 2px solid green;*/
}

.item-category {
	text-transform: uppercase;
	color: #C7C1B6;
	margin: 30px 0px;
}

/*.button { 
	display: block;
	width: 160px;
	text-align: center;
	font-size: 20px;
	text-decoration: none;
	border: 1px solid black;
	padding: 20px 30px;
	margin: 80px auto;
}*/

button {
	display: block;
	padding: 20px 30px;
	margin: 80px auto;
	font-size: 20px;
	color: #6C6C6C;
	border: 1px solid;
	background: white;
	cursor: pointer;
}

button:hover {
	color: #57C6F8;
}